body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../Images/Home/pay.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: abdfff;
    color: #333;
}
.margin {
    height: 60px;
    display: flex;
}

.container {
    max-width: 600px;
    margin: 150px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
    color: #4CAF50;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.payment-methods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.payment-methods button {
    width: 48%;
    background-color: #ddd;
    color: #333;
}
.payment-methods button.active {
    background-color: #4CAF50;
    color: #fff;
}
.button-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}

.button-link:hover {
    background-color: #45a049;
}